@{
    ViewBag.Title = "Home Page";
}

<div style="clear:both; width:100%">
    <div style="text-align:center; width:62%; float:left">
        <!--width="560" height="315"-->
        <iframe style="width:100%!important; height:400px!important"  src="https://www.youtube.com/embed/VUk6LXRZMMk" frameborder="0" allowfullscreen></iframe>
    </div>
    <div style="width:32%; float:right">
        <h2>Get Organised</h2>
        <p>
            MyShedule is a free MS Outlook and Google Calender like Application, customed for academics. Users are able to manage and share events with other Users, and
            also specify Venues, Modules and Reminders to specified events . . .
        </p>
        <p><a class="btn btn-default" href="https://docs.google.com/document/d/1qHLmL-dRpP22vqA_SMQ8JofcITLUhIUjx33zVtrKsRA/edit?usp=sharing">Learn more &raquo;</a></p>
    </div>
</div>